@font-face {
  font-family: Felix;
  src: url(fonts/Felix-Titling.ttf);
}

@font-face {
  font-family: Sprat;
  src: url(fonts/Sprat-Regular.otf);
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#body-home {
  width: 100vw;
  height: 100vh;
  background-image: url(images/Elipse.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}

.title {
  font-family: Felix;
  font-size: 6vw;
}

.sub-title {
  font-family: Felix;
  font-size: 2vw;
}

.desc {
  position: absolute;
  bottom: 20px;
  font-family: Sprat;
  font-size: 12px;
  text-align: center;
}

.navbar {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: 20;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 2px;
          box-shadow: 0px 0px 2px;
}

.change {
  right: 0px;
}

.nav-icon {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url(images/menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 15px;
  right: 20px;
  z-index: 41;
  cursor: pointer;
  color: black;
  -webkit-filter: drop-shadow(0px 0px 2px);
          filter: drop-shadow(0px 0px 2px);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-item {
  text-align: center;
  list-style: none;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: Felix;
  position: relative;
  top: 2px;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-link-selected {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-family: Felix;
  position: relative;
  top: 5px;
}

.nav-link-selected::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

#body-content {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-container {
  width: 1200px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.topbar {
  width: 100%;
  height: 72px;
  position: fixed;
  background-color: white;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.topbar-link {
  font-family: Felix;
  font-size: 20px;
  top: 3px;
  color: black;
  text-decoration: none;
  position: relative;
}

.topbar-link::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.topbar-link:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.line {
  width: 100%;
  height: 2px;
  position: fixed;
  top: 72px;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(50%, #fff), color-stop(50%, #fff), to(#000));
  background: linear-gradient(90deg, #000 0%, #fff 50%, #fff 50%, #000 100%);
  background-size: 800px;
  -webkit-animation: lines 10s linear infinite;
          animation: lines 10s linear infinite;
  background-position: -800px;
  z-index: 10;
}

@-webkit-keyframes lines {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -800px;
  }
}

@keyframes lines {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -800px;
  }
}

.title-2 {
  font-family: Felix;
  font-size: 64px;
  text-align: center;
  margin-bottom: 20px;
}

.title-3 {
  font-family: Felix;
  font-size: 64px;
  text-align: center;
  margin-bottom: -10px;
}

.text-title {
  font-family: Felix;
  font-size: 48px;
  margin-bottom: 20px;
}

.text-title-2 {
  font-family: Felix;
  font-size: 48px;
  margin-bottom: -10px;
}

.text {
  font-family: Sprat;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.text-2 {
  text-align: center;
  font-family: Sprat;
  font-size: 16px;
  line-height: 24px;
}

span {
  font-family: Felix;
}

iframe {
  width: 100%;
  height: 700px;
}

footer {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 120px;
  height: 120px;
  background-image: url(images/Elipse.gif);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.footer-text {
  font-family: Sprat;
  font-size: 12px;
  text-align: center;
}

.sobre-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.sobre-text {
  width: 50%;
}

.sobre-image {
  width: 45%;
  height: auto;
  background-image: url(images/sobre.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5%;
  position: relative;
}

.authors-text {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  font-family: Sprat;
  font-size: 12px;
  line-height: 18px;
}

.authors-text-2 {
  width: 70%;
  text-align: right;
  font-family: Sprat;
  font-size: 12px;
  line-height: 18px;
}

.metropolis-container {
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.metropolis-text {
  width: 70%;
  margin-top: 100px;
  margin-bottom: 120px;
}

.metropolis-image {
  width: 100%;
  height: 200px;
  background-image: url(images/metropolis.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
}

#body-ficcao {
  width: 100vw;
  height: 100vh;
  background-image: url(images/Elipse.gif);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-ficcao {
  width: 200px;
  height: 200px;
  background-image: url(images/menu.png);
  margin-top: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  -webkit-filter: drop-shadow(0px 0px 5px);
          filter: drop-shadow(0px 0px 5px);
  -webkit-transition: -webkit-filter 500ms ease-in-out;
  transition: -webkit-filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out;
  transition: filter 500ms ease-in-out, -webkit-filter 500ms ease-in-out;
}

.btn-ficcao:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 10px);
          filter: drop-shadow(0px 0px 10px);
  -webkit-animation: rotate 8s linear infinite;
          animation: rotate 8s linear infinite;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.crimes-container-1 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.crimes-container-2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.crimes-text-box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.crimes-text-1 {
  width: 70%;
  margin-top: 100px;
  margin-bottom: 120px;
}

.crimes-text-2 {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 120px;
}

.crimes-text-3 {
  width: 25%;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 120px;
}

.crimes-text-3-body {
  font-family: Sprat;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.manual-container {
  margin-top: 70px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manual-text {
  width: 70%;
}

.manual-image {
  width: 100%;
  height: 200px;
  background-image: url(images/manual.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 100px;
}

#manual-book {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 70%;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 2px black);
          filter: drop-shadow(0px 0px 2px black);
}

#manual-book-container {
  width: 100%;
  height: auto;
  position: relative;
}

#nav_button {
  position: absolute;
  top: 50%;
  font-family: Sprat;
  font-size: 60px;
  line-height: 0px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  border: none;
  background-color: transparent;
  margin: 0px;
  color: #fff;
  -webkit-filter: drop-shadow(0px 0px 3px black);
          filter: drop-shadow(0px 0px 3px black);
  -webkit-transition: -webkit-filter 250ms ease-in-out;
  transition: -webkit-filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
  cursor: pointer;
}

.right {
  right: 0px;
}

.left {
  left: 00px;
}

#nav_button:hover {
  -webkit-filter: drop-shadow(0px 0px 5px black);
          filter: drop-shadow(0px 0px 5px black);
}

#nav_button:focus {
  cursor: pointer;
  outline: inherit;
  border: none;
  background-color: transparent;
  margin: 0px;
  color: #fff;
  -webkit-transition: -webkit-filter 250ms ease-in-out;
  transition: -webkit-filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out;
  transition: filter 250ms ease-in-out, -webkit-filter 250ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */
